.App {
  text-align: center;
}

h1 {
  font-family: 'Oswald';
  font-size: 72px;
  color: #ff8080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
